@adviceBG : #242424;
@adviceEvenBG : #333333;
@liteColor : #ffffff;

.gen__grid-cell-size(@size: 64){
	& ._grid-cell-@{size} {
		display: grid;
		grid-template-columns: repeat(auto-fit, (@size * 1px));
		grid-template-rows: repeat(auto-fit, (@size * 1px));
		grid-auto-columns: (@size * 1px);
		grid-auto-rows: (@size * 1px);
	}
}

.gen__grid-autorow-size(@size: 64){
	& ._grid-autorow-@{size} {
		display: grid;
		grid-template-rows: repeat(auto-fit, (@size * 1px));
		grid-auto-rows: (@size * 1px);
	}
}

.gen__grid-gap-size(@size: 8){
	& ._grid-gap-@{size} {
		grid-column-gap: (@size * 1px);
		grid-row-gap: (@size * 1px);
	}
}

.gen__font-size(@size: 14){
	& ._font-@{size}{
		font-size: (@size * 1px);
	}
}