@keyframes blink-once {
	0% {
		filter: brightness(1);
	}
	50% {
		filter: brightness(0.9);
	}
	100% {
		filter: brightness(1);
	}

}

@keyframes slide {
	0% { 
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

._anim-blink-once {
	animation: blink-once 0.4s cubic-bezier(0, 0, 0.21, 1.19) 2;
}

._anim-slide {
	animation: slide 0.2s cubic-bezier(0, 0, 0.21, 1.19) 1;
}