.__baloven__ {
	& ._advice {
		top: 400px;
	    left: 300px;
	    background: @adviceBG;
	    z-index: 100;
	    padding: 8px 0;
	    width: 200px;
	    border-radius: 4px;
	    box-shadow: 0px 1px 16px 0px #00000054;
	    font-family: 'Lato', sans-serif;
	    color:@liteColor;
	    font-size: 12px;

	    & ._token {
			margin-bottom: 20px;
			padding: 8px 8px;

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(even){
				background:@adviceEvenBG;
			}

			& ._caption {
				margin-top: 0;
				color: #999999;
			}

			& ._content {
				margin: 0;
				color: #d9d9d9;
			}
		}

		&::after {
			content:"";
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
		}


		&._bottom {
			transform: translateY(calc(-100% - 24px)) translateX(-50%);
			&::after {
				border-width: 10px 10px 0 10px;
				border-color: @adviceBG transparent transparent transparent;
				bottom: 0;
			    left: 50%;
			    transform: translateY(100%) translateX(-50%);
			}
		}



		&._top {
			transform: translateY(24px) translateX(-50%);
			&::after {
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent @adviceBG transparent;
				top: 0;
				left: 50%;
				transform: translateX(-50%) translateY(-100%);
			}
		}


		&._left {
			transform: translateY(-50%) translateX(24px);
			&::after {
				border-width: 10px 15px 10px 0;
				border-color: transparent @adviceBG transparent transparent;
				left: 0;
			    top: 50%;
			    transform: translateX(-100%) translateY(-50%);
			}
		}


		&._right {
			transform: translateX(calc(-100% - 24px)) translateY(-50%);
			&::after {
				border-width: 10px 0 10px 15px;
				border-color: transparent transparent transparent @adviceBG;
				right: 0;
			    top: 50%;
			    transform: translateX(100%) translateY(-50%);
			}
		}

	}	 
}