.__baloven__ {

	& ._vars-explorer {
		border: 1px solid #c0c2c4;

		& ._head {
			height: 24px;
			background: #dbdbdb;

			& ._controls {
				height: 24px;
			    right: 0;
			    top: 0;
			    width: auto;
			    & ._button {
					color: #7d7f80;
					width: 24px;
					height: 24px;
					font-size: 14px;
				}

			}
		}

		&  ._empty-placeholder {
			display: none;
			top:0;
			padding: 16px 0;

			&  p._caption {
				margin: 0;
				transition: color 0.15s ease-out;
			}

			& ._button {
				margin-bottom: 8px;
			}
		}	

		& ._vars-dir {
			border: 1px solid #c0c2c4;
			/*left:0;*/
			/*top:0;*/


			& > ._content:empty {
				display: none;

				& + ._empty-placeholder {
					display: flex;
				}
			}

			
			& ._content {
				padding: 16px 8px;
			    box-sizing: border-box;
			    min-height: 48px;
			}

			& ._var-token {
				background: black;
				padding: 8px;
				height: 32px;
				display: flex;
				box-sizing: border-box;
				align-items: center;
				justify-content: center;
				border-radius: 3px;
				cursor: pointer;
				margin-right: 4px;
				color: white;
				margin: 8px 2px;				

				& p._caption {
					margin: 0;
				}

				&[data-type="dir"] {
					background: white;
					border: 2px solid black;
					color: black;
					font-weight: bold;
				}

				&[data-type="dir"] p._value {
					display: none;
				}

				&[data-type="number"] {
					background: #2e3b84;
				}

				&[data-type="string"] {
					background: #285c2a;
				}

				&[data-type="booleab"] {
					background: #881007;
				}

				& p._value {
					margin: 0 0 0 8px;
					padding: 0 8px;
					border-radius: 3px;
					background: @liteColor;
					color: black;
					font-weight: bold;
				}

				& ._info {
					border: 2px solid #000000;
					border-radius: 12px;
					height: 16px;
					top: 0;
					left: 0;
					transform: translateY(-50%) translateX(4px);
					background: #e6e6e6;
					padding: 0 4px;
					color: #505050;

					& p {
						margin: 0;
						font-weight: bold;
					}
				}
			}
		}

		& ._breadcrumbs {
			padding: 0 8px;

			& ._item {
				color: black;
				cursor: pointer;
				height: 100%;
				background: #dbdbdb;
				transition: background 0.25s ease;
				border-bottom: 2px solid transparent;
				margin-right: 8px;
				position: relative;
			    white-space: nowrap;
			    max-width: 30%;
			    text-align: left;
			    justify-content: flex-start;

				&:last-child {
					margin-right: 0;
				}

				&:nth-child(0){ border-color: rgba(0,0,0,0.15);  }
				&:nth-child(1){ border-color: rgba(0,0,0,0.3);  }
				&:nth-child(2){ border-color: rgba(0,0,0,0.45);  }
				&:nth-child(3){ border-color: rgba(0,0,0,0.6);  }
				&:nth-child(4){ border-color: rgba(0,0,0,0.75);  }
				&:nth-child(5){ border-color: rgba(0,0,0,0.9);  }
				&:nth-child(n + 5){ border-color: rgba(0,0,0,1);  }


				& p._caption {
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
					padding: 0 4px;	
				}

				&:hover {
					background: #f0f0f0;
				}

				&:before {
				    content: ">";
				    padding: 0 4px;
				    font-family: monospace;
				    font-size: 12px;
				}

				&:first-child:before {
					display: none;
					content: "";
				}
			}
		}
	}

	& ._window._coll-explorer {
		& ._vars-explorer {
			width: 100%;
			height: 100%;
			flex-grow: 1;
			border: 0;
		}

		& ._vars-dir {
			border: 0;
		}


		& > ._window-inner > ._content-wrapper {
			padding: 0;
		}
	}

}