.__baloven__ {
 	& ::-webkit-scrollbar {
	  	width:12px;
	  	
	  	&-track {
		  	border-radius: 6px;
		  	-webkit-font-smoothing: antialiased!important;
		  	background: #b7b8bb;
		  	background-clip: padding-box;
		  	border: 4px solid transparent;
		}

		&-thumb {
		  	border-radius: 6px;
		  	background: #74777b;
		  	background-clip: content-box;
		  	border: 4px solid transparent;
		  	&:window-inactive {
			  	border-radius:16em;
			  	background:#0a0e0e;
			  	background-clip: content-box;
			  	border:7.5em solid transparent;
			}
		}

		&-corner {
		  	background: rgba(0,0,0,0);
		}
	}
}

