.__baloven__ {
    & ._feed._window {
		height: 100%;

		& > ._window-inner > ._content-wrapper {
			padding: 0;
		}

		& ._message {
		    background: @liteColor;
		    margin-top: 8px;
		    overflow: hidden;

		    & > ._header {
				padding: 8px;
			    background: whitesmoke;
			    border-bottom: 1px solid #e8e8e8;

			    & p {
					margin-top: 0;
					margin-bottom: 0;
				}

			    & p._caption {
					font-weight: bold;
					color: #444444; 
				}

				& ._type-indicator {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					margin-right: 8px;
					background: black;
				}
			}

		    & > ._content {
				font-style: 12px;
				color: #121212; 
				padding: 8px;
			}

		    &:first-child {
				margin-top: 0;
			}

		    &[data-message-type="error"] > ._header ._type-indicator {
				background: #f44336;
			}

		    &[data-message-type="warning"] > ._header ._type-indicator {
				background: #ff9800;
			}

		    &[data-message-type="info"] > ._header ._type-indicator {
				background: #ff9800;
			}
		}
	}
}