.__baloven__ {
	& ._grid {
		display: grid;
	}

	.gen__grid-cell-size(16);
	.gen__grid-cell-size(32);
	.gen__grid-cell-size(64);
	.gen__grid-cell-size(128);
	.gen__grid-cell-size(256);
	.gen__grid-cell-size(512);

	.gen__grid-autorow-size(16);
	.gen__grid-autorow-size(32);
	.gen__grid-autorow-size(64);
	.gen__grid-autorow-size(128);
	.gen__grid-autorow-size(256);
	.gen__grid-autorow-size(512);


	.gen__grid-gap-size(4);
	.gen__grid-gap-size(8);
	.gen__grid-gap-size(16);
	.gen__grid-gap-size(32);


	/*width*/
	& ._grid-w-1 {
		grid-column-end: span 1;
	}

	& ._grid-w-2 {
		grid-column-end: span 2;
	}

	& ._grid-w-3 {
		grid-column-end: span 3;
	}

	& ._grid-w-4 {
		grid-column-end: span 4;
	}

	& ._grid-w-5 {
		grid-column-end: span 5;
	}

	& ._grid-w-6 {
		grid-column-end: span 6;
	}

	& ._grid-w-7 {
		grid-column-end: span 7;
	}

	& ._grid-w-8 {
		grid-column-end: span 8;
	}



	/*height*/
	& ._grid-h-1 {
		grid-row-end: span 1;
	}

	& ._grid-h-2 {
		grid-row-end: span 2;
	}

	& ._grid-h-3 {
		grid-row-end: span 3;
	}

	& ._grid-h-4 {
		grid-row-end: span 4;
	}

	& ._grid-h-5 {
		grid-row-end: span 5;
	}

	& ._grid-h-6 {
		grid-row-end: span 6;
	}

	& ._grid-h-7 {
		grid-row-end: span 7;
	}

	& ._grid-h-8 {
		grid-row-end: span 8;
	}
}

