.__baloven__ {
	position: absolute;
	top: 0;
	left: 0;
	
	& ._window._main-window {
		top: 100px;
		left: 100px;
		width: 850px;
		height: 600px;
		user-select: none;
		position: fixed;

		& .transparent {
			background: auto!important;
		}
	}
}

