.__baloven__ {
	/*flex*/
	& {
		._flex-row {
			display: flex;
			flex-direction: row;
		}

		._flex-col {
			display: flex;
			flex-direction: column;
		}

		._flex-col-reverse {
			display: flex;
			flex-direction: column-reverse;
		}

		._flex-centric {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		._space-between {
			display: flex;
			justify-content: space-between;
		}

		._space-around {
			display: flex;
			justify-content: space-around;
		}

		._flex-grow {
			flex-grow: 1;
		}

		._no-grow {
			flex-grow: 0;
		}

		._no-shrink {
			flex-shrink: 0;
		}

		._flex-align-center {
			display: flex;
			align-items: center;
		}

		._flex-wrap {
			flex-wrap: wrap;
		}

		._flex-nowrap {
			flex-wrap: nowrap;
		}


		._flex-shrink {
			flex-shrink: 1;
		}
	}

	/*pos*/
	& {
		._pos-fixed {
			position: fixed;
		}

		._pos-absolute {
			position: absolute;
		}

		._pos-relative {
			position: relative;
		}
	}

	/*overflow*/
	& {
		._no-overflow {
			overflow: hidden;
		}

		._no-x-overflow {
			overflow-x: hidden;
		}

		._overflow-auto {
			overflow: auto;
		}
	}

	/*font sizes*/
	& {
		.gen__font-size(10);
		.gen__font-size(12);
		.gen__font-size(14);
		.gen__font-size(16);
		.gen__font-size(20);
		.gen__font-size(24);
		.gen__font-size(32);
	}


	& ._fit-width {
		width: 100%;
	}

	& ._fit-height {
		height: 100%;
	}

	& ._hidden {
		display: none;
	}

	& ._invisible {
		position: absolute;
		visibility: hidden;
	}

	& ._no-wrap {
		white-space: nowrap;
	}

	& ._no-transition {
		transition: none!important;
	}

	& ._border-box {
		box-sizing: border-box;
	}

} 



