.__baloven__ {

	& ._window {
		& ._window {
			width: 100%;
			box-shadow: 0px 0px 4px 0px ~"#00000029";
		    border: 1px solid rgba(0, 0, 0, 0.1);

			& > ._window-inner {
				box-shadow: none;

				& > ._header {
					background: @liteColor;
					border-bottom: 1px solid rgba(0,0,0,.1);

					& p {
						color:#616f77;
					}
				}

				& > ._content-wrapper {
					padding: 8px;
					background: #fefefe;
				}

			}


			& ._window {
				min-height: auto;
				margin-bottom: 16px;

				& > ._window-inner {
					border-radius: 0;
					border: none;

					& > ._header {
						height: 24px;
						background: #f89872;
						padding: 0 8px;

						& p {
							color: @liteColor;
						}
					}
				}


				& ._window  > ._window-inner > ._header p {
					color: white;
				    font-weight: 100;
				    font-size: 14px;
				}
			}
		}
	}
}
