.__baloven__ {
	/*button*/
    & ._button {
        transition: background 0.2s ease-out;
        align-items: center;
        cursor: pointer;

        &._no-icon img {
            display: none;
        }
        & p._caption {
		    margin: 0;
		}
		&._iconic {
			justify-content: center;
    		align-items: center;

			& img {
			    display: none;
			}

			& p {
			    font-family: 'Material Icons';
			    font-weight: normal;
			    font-style: normal;
			    font-size: 16px;
			    /* Preferred icon size */
			    
			    display: inline-block;
			    line-height: 1;
			    text-transform: none;
			    letter-spacing: normal;
			    word-wrap: normal;
			    white-space: nowrap;
			    direction: ltr;
			    /* Support for all WebKit browsers. */
			    
			    -webkit-font-smoothing: antialiased;
			    /* Support for Safari and Chrome. */
			    
			    text-rendering: optimizeLegibility;
			    /* Support for Firefox. */
			    
			    -moz-osx-font-smoothing: grayscale;
			    /* Support for IE. */
			    
			    font-feature-settings: 'liga';
			}
		}

		&.fa {
			& img {
			    display: none;
			}
			& p {
			    display: none;
			}
		} 
    }

}