.__baloven__ {
	& * {
		box-sizing: border-box;
	}

	& ._window {
		z-index: 10;
		color: #c2c2c2;
		font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 400;
		max-height: 100vh;
		max-width: 100vw;
		transition: width 0.15s ease-out, height 0.15s ease-out;

		& > ._window-inner {
			overflow: hidden;

			& > ._header {
				height: 44px;
				padding: 0 16px;
				padding-right: 0;
				background: #233358;
				align-items: center;
				user-select: none;

				._meta {
					overflow: hidden;
					& p {
						width: 100%;
						overflow: hidden;
						text-overflow:ellipsis;
					}
				}

				& ._button {
					width: 20px;
				    height: 20px;
				    margin-left: 8px;
				    color: #fff;
				}

				& p {
					color: #ffffff;
				    font-weight: 400;
				}

				& ._resize-buttons {
					display: none;

					&._button._maximize {
						display: none;
					}

					&._button._fullscreen-exit {
						display: none;
					}
				}

				& ._close._button {
					display: none;
				}

				& ._controls {
					padding: 8px;
					height: 100%;
					align-items: center;

					& ._button {
						font-size: 14px;
					}

					& > ._window-controls > ._button {
					    border-radius: 50%;
					    font-size: 14px;

					    & p {
							color: #fff;
							font-size: 14px;
							transition: color 0.15s linear;
						}

						&:hover p {
							color: #ddd;
						}
					}

					& ._lang-select {
						padding: 0 16px;

						& ._button {
							margin: 0 4px;
							padding: 0;
						    text-align: center;
						    justify-content: center;
						    width: auto;
						    transition: border-color 0.15s linear;
						    border-bottom: 1px solid transparent;

						    & p._caption {
								color: #7c8083;
							}

							&._active {
								/*background: #881007;*/
								border-color: #fefefe;
								& p._caption {
									color: white;
								}
							}
						}
					}
				}
			}

			& > ._content-wrapper {
				background-color: #1b1929;
				padding: 8px;
				flex-grow: 1;
				max-height: 100%;
				overflow: auto;

				& > ._overlay {
					display: none;
					left: 0;
				    top: 0;
				    background: #000000c2;
				}
			}
		}


		/*window states*/
		&._window-movable > ._window-inner > ._header {
			cursor: move;
		}

		&._window-resizable > ._window-inner > ._header ._resize-buttons {
			display: flex;
		}

		&._window-closable > ._header ._close._button {
			display: flex;
		}

		&._minimized {
			width: 148px;

			& > ._window-inner {

				& > ._header {
					& ._header-extra-wrapper {
						display: none;
					}

					& ._meta {
						height: 100%;
						align-items: center;

						& ._caption {
							max-width: 88px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					& ._button._minimize {
						display: none;
					}

					& ._button._maximize {
						display: flex;
					}
				}

				& > ._content-wrapper {
					display: none;
				}
			}

		}

		&._fullscreen {
			transform: none!important;
			position: fixed!important;
			left:0!important;
			top: 0!important;
			width: 100vw!important;
			height: 100vh!important;
			border: 8px solid rgba(0, 0, 0, 0.75);
			box-sizing: border-box;

			& > ._window-inner {
				& > ._header ._button._fullscreen {
					display: none;
				}

				& > ._header ._button._fullscreen-exit {
					display: flex;
				}
			}
		}

		&._overlay-active {
			& > ._window-inner {
				& > ._content-wrapper {
					& > div {
						filter: blur(4px);
					}

					& > ._overlay {
						display: flex;
						filter: none;
					}
				}
			}
		}
	}
}